body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.course-container {
    width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.lessons ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.lessons li {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #aaa;
}

.lessons li.active, .lessons li:hover {
    background: #888;
    color: white;
}

.lesson {
    display: none;
}

.lesson.active {
    display: block;
}

.mini-lectures {
    list-style-type: none;
    padding: 0;
}

.mini-lectures li {
    padding: 8px;
    cursor: pointer;
    color: #333;
}

.mini-lectures li:hover {
    text-decoration: underline;
}

#miniLectureContent {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#backToLectures {
    display: none; /* Скрыта по умолчанию */
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}
#backToLectures:hover {
    background-color: #0056b3;
}
    