* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
/* HEADER */


.site-header {
    background-color: #002366; /* Dark Blue */
    color: white;
    padding: 20px 0;
}

.hed-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.site-title {
    font-size: 2rem;
    margin: 0;
    color: #fff;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.site-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.site-nav a:hover {
    text-decoration: underline;
}
/* HEADER */
 
/*  */
/* Повернення на головну */
.povernena-na-golovny {
    text-decoration: none;
    color: #6c757d;
    line-height: 25px;
}
.text-povernena-na-golovny{
    padding: 20px 0;
} 

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
h1, h2 {
    color: #5a5a5a;
}
.tag {
    display: inline-block;
    background-color: #d1e7fd;
    color: #0077cc;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}
.section {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.code-box {
    background-color: #eef;
    border-left: 5px solid #0077cc;
    padding: 15px;
    margin: 15px 0;
    font-family: "Courier New", monospace;
}

/* FOOTER*/
.site-footer {
    background-color: #002366; /* Dark Blue */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.site-footer p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-nav ul {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-nav a:hover {
    text-decoration: underline;
}
